@font-face {
  src: url('fonts/brand_font/PressStart2P-Regular.ttf');
  font-family: brand-font;
}
@font-face {
  src: url('fonts/roboto_condensed/RobotoCondensed-Bold.ttf');
  font-family: roboto-bold;
}
@font-face {
  src: url('fonts/roboto_condensed/RobotoCondensed-Regular.ttf');
  font-family: roboto-regular;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: rgb(240, 240, 240);
}
header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(0, 4, 56), rgba(0, 4, 56, .9));
  color: rgb(240, 240, 240);
  padding-bottom: 10px;
}
header > span {
  font-size: 70px;
  margin: 30px 0 30px 0;
  font-family: brand-font;
}
header abbr {
  text-decoration: none;
}
header * {
  text-align: center;
}
header > nav {
  display: flex;
  font-size: 13px;
  font-weight: 900;
  font-family: sans-serif;
}
nav > a {
  flex-basis: 100%;
}
/* fixing the default anchor styling */
a, a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 90px auto 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.list-item-wrapper {
  flex-basis: 100%;
  position: relative;
  margin-bottom: 75px;
}
.action-buttons {
  display: flex;
  padding: 8px;
  background: rgb(247, 247, 247);
  position: absolute;
  right: 0;
  top: -52px;
  border-radius: 25% 0 0 0;
  border: 1px solid rgba(0, 0, 0, .09);
  border-bottom: 0;
}
.action-buttons > button {
  border: 0;
  background: transparent;
  font-size: 30px;
}
.action-buttons > #add {
  color: rgb(39, 219, 26);
  order: 2;
}
.action-buttons > #unadd {
  color: rgb(232, 80, 53);
  order: 1;
}
li {
  border: 1px solid rgba(0, 0, 0, .09);
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  background: rgb(247, 247, 247);
  padding: 3px;
  font-size: 25px;
}
.meta-data {
  order: 1;
  padding: 5px;
  color: rgb(97, 184, 255);
  font-size: .5em;
  align-self: center;
  font-family: roboto-bold;
}
.username {
  font-family: roboto-regular;
  align-self: center;
  padding: 3px;
  color: rgb(0, 4, 56);
}
.gender, .compatibility {
  font-size: 1.8em;
}
/* from laptops and small screens up */
@media (min-width: 769px) {
  header {
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
  }
  header > span {
    font-size: 45px;
    margin: 0;
  }
  header > nav {
    font-weight: 100;
    font-size: 15px;
  }
  nav > a > span {
    padding: 10px 30px;
  }
  nav > a > span {
    -webkit-transition: background 100ms ease;
    -o-transition: background 100ms ease;
    -moz-transition: background 100ms ease;
    -ms-transition: background 100ms ease;
  }
  nav > a > span:hover {
    background: rgba(0, 0, 0, .1);
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  ul {
    justify-content: space-around;
  }
  .list-item-wrapper {
    flex-basis: 24%;
  }
  .action-buttons {
    opacity: 0;
    transition: opacity 500ms ease;
  }
  .list-item-wrapper:hover > .action-buttons {
    opacity: 1;
  }
  .action-buttons > button {
    cursor: pointer;
  }
}
