<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block meta %}{% endblock %}
    <meta charset="utf-8">
    <!-- responsiveness meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- description meta -->
    <meta name="description" content="PMT is an online tool for bringing
    likeminded people together">
    <!-- keywords meta -->
    <meta name="keywords" content="Personality Matching Tool, PMT, likeminded">
    <!-- preloading -->
    <link rel="preload" href="{{ url_for('static',
    filename='fonts/brand_font/PressStart2P-Regular.ttf') }}" as="font"
    type="font/ttf" crossorigin>
    <link rel="preload" href="{{ url_for('static',
    filename='fonts/roboto_condensed/RobotoCondensed-Bold.ttf') }}" as="font"
    crossorigin>
    <link rel="preload" href="{{ url_for('static',
    filename='icons/webfonts/fa-solid-900.woff2') }}" as="font" crossorigin>
    <link rel="preload" href="{{ url_for('static',
    filename='fonts/roboto_condensed/RobotoCondensed-Regular.ttf') }}"
    as="font" crossorigin>
    <!-- base.css file(for this file which is the parent) -->
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/uniform/minified/base.css') }}">
    {% if current_user.is_authenticated %}
    <!-- icons -->
    <link rel="stylesheet"
    href="{{ url_for('static', filename='icons/css/minified/all.css') }}">
    {% endif %}
    <!-- child template's css files -->
    {% block css_files %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <!-- brand -->
      <span>
        <abbr title="Personality Matching Tool.">
          <a href="{{ url_for('home_page') }}">PMT</a>
        </abbr>
      </span>
      <!-- navigation -->
      <nav>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('home_page') }}" title="home"><span class="home">
          <i class="fas fa-home"></i>
        </span></a>
        <a href="{{ url_for('assumptions_page') }}" title="assumptions">
          <span class="assumptions">
          <i class="fas fa-user-cog"></i>
          </span>
        </a>
        <a href="{{ url_for('messages_page') }}" title="messages">
          <span class="messages">
            <i class="fas fa-comment-alt"></i>
          </span>
        </a>
        <a href="{{ url_for('logout_page') }}" title="logout">
          <span class="logout">
          <i class="fas fa-sign-out-alt"></i>
        </span></a>
        {% endif %}
      </nav>
    </header>
    <!-- main -->
    <main>
      <!-- child template's content -->
      {% block content %}{% endblock %}
    </main>
    <!-- footer -->
    <footer>
      <!-- child template's footer -->
      {% block footer %}{% endblock %}
    </footer>
    <!-- javascript -->
    {% block javascript %}{% endblock %}
  </body>
</html>
