<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- responsiveness meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- base.css file(for this file which is the parent) -->
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/uniform/base.css') }}">
    <!-- icons -->
    <link rel="stylesheet"
    href="{{ url_for('static', filename='icons/css/all.css') }}">
    <!-- child template's css files -->
    {% block css_files %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <!-- brand -->
      <span>
        <abbr title="Personality Matching Tool.">
          <a href="/">PMT</a>
        </abbr>
      </span>
      <!-- navigation -->
      <nav>
        <a href="/"><span class="home"><i class="fas fa-home"></i></span></a>
        <a href="/profile"><span class="profile">
          <i class="fas fa-user-circle"></i>
        </span></a>
        <a href="/learn"><span class="learn">
          <i class="fas fa-user-cog"></i>
        </span></a>
        <a href="#"><span class="logout">
          <i class="fas fa-sign-out-alt"></i>
        </span></a>
      </nav>
    </header>
    <!-- main -->
    <main>
      <!-- child template's content -->
      {% block content %}{% endblock %}
    </main>
    <!-- footer -->
    <footer></footer>
  </body>
</html>
