ul {
  padding: 0;
  margin: 80px auto 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.list-item-wrapper {
  flex-basis: 100%;
  position: relative;
  margin-bottom: 75px;
}
.action-buttons {
  display: flex;
  padding: 8px;
  background: rgb(247, 247, 247);
  position: absolute;
  right: 0;
  top: -52px;
  border-radius: 25% 0 0 0;
  border: 1px solid rgba(0, 0, 0, .09);
  border-bottom: 0;
}
.action-buttons .start-conversation {
  color: rgb(39, 219, 26);
}
.action-buttons button {
  border: 0;
  background: transparent;
  font-size: 30px;
}
.action-buttons > .unadd {
  color: rgb(232, 80, 53);
}
.action-buttons button {
  cursor: pointer;
}
li:not(.for_listing_only) {
  border-bottom: 0;
}
li {
  border: 1px solid rgba(0, 0, 0, .09);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: sans-serif;
  background: rgb(247, 247, 247);
  padding: 3px;
  font-size: 25px;
}
.meta-data {
  order: 1;
  padding: 5px;
  color: rgb(97, 184, 255);
  font-size: .44em;
  align-self: center;
  font-family: roboto-bold, sans-serif;
  /* disables text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.username {
  font-family: roboto-regular, sans-serif;
  align-self: center;
  padding: 3px;
  color: rgb(0, 4, 56);
  font-size: .77em;
}
.gender, .compatibility, .age {
  font-size: 1.8em;
}
button#load_more {
  padding: 8px;
  color: rgb(0, 4, 56);
  border: 1px solid rgba(0, 0, 0, .09);
  font-family: roboto-regular;
  font-size: 20px;
  display: block;
  margin: 0 auto 70px auto;
  cursor: pointer;
}
.message {
  background: rgb(247, 247, 247);
  padding: 8px;
  color: rgba(30, 30, 30, .8);
  font-family: roboto-regular;
  border: 1px solid rgba(0, 0, 0, .09);
}
h2.added_users {
  margin-top: 50px;
}
h2 {
  color: rgb(247, 247, 247);
  text-align: center;
  font-family: roboto-light;
  font-size: 38px;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(0, 4, 56), rgba(0, 4, 56, .9));
}
h2 > i {
  color: rgb(39, 219, 26);
}
/* from laptops and small screens up */
@media (min-width: 769px) {
  h2 {
    font-size: 70px;
  }
  ul {
    justify-content: space-between;
  }
  li {
    transition: box-shadow 250ms ease;
  }
  .list-item-wrapper:hover > li {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .09);
  }
  .action-buttons {
    opacity: 0;
    transition: opacity 250ms ease;
  }
  .list-item-wrapper:hover > .action-buttons {
    opacity: 1;
  }
}
/* 2cols:1row */
@media (min-width: 769px) {
  ul {
    justify-content: space-around;
  }
  .list-item-wrapper {
    flex-basis: 40%;
  }
  .meta-data {
    font-size: .46em;
  }
}
/* 3cols:1row */
@media (min-width: 1201px) {
  .list-item-wrapper {
    flex-basis: 33%;
  }
  .meta-data {
    font-size: .49em;
  }
  .username {
    font-size: 1em;
  }
}
