.chat-container {
  background: rgb(247, 247, 247);
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 5px;
  margin: 25px auto 15px auto;
  width: 90%;
}
.recipient-username {
  font-family: roboto-regular, sans-serif;
  font-size: 30px;
  color: rgb(0, 4, 56);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}
.recipient-pronoun, .recipient-message {
  font-family: roboto-bold, sans-serif;
  font-size: 20px;
  color: rgb(0, 4, 56);
  padding: 10px;
}
.recipient-message {
  font-family: roboto-light, sans-serif;
  margin-left: 30px;
}
.sender-pronoun, .sender-message {
  font-family: roboto-bold, sans-serif;
  font-size: 20px;
  color: rgb(0, 4, 56);
  text-align: right;
  padding: 10px;
}
.sender-message {
  font-family: roboto-light, sans-serif;
  margin-right: 30px;
}
.sender-message, .recipient-message {
  border: 1px solid rgba(0, 0, 0, .09);
  margin: 0 auto 0 auto;
  width: 80%;
  word-wrap: break-word;
}
.recipient-message {
  border-radius: 10px 0 10px 0;
}
.sender-message {
  border-radius: 0 10px 0 10px;
}
.send-message {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 5px;
}
textarea[name="message"] {
  padding: 3px 10px 0 10px;
  font-size: 20px;
  font-family: roboto-regular, sans-serif;
  color: rgb(0, 4, 56);
  resize: none;
  flex-basis: 80%;
  line-height: 1.5em;
  border: 1px solid rgb(39, 219, 26);
}
textarea[name="message"]:focus {
  outline: 0;
}
button[name="send"] {
  padding: 8px;
  color: rgb(247, 247, 247);
  background: rgb(39, 219, 26);
  border: 0;
  font-size: 25px;
  flex-basis: 18%;
  cursor: pointer;
}
.scrollable-chat {
  overflow-x: hidden;
  overflow-y: auto;
  height: 160px;
  padding: 10px;
}
.scrollable-chat::-webkit-scrollbar { /* make scrollbar invisible */
  width: 0;
}
/* from laptops and small screens up */
@media (min-width: 769px) {
  .chat-container {
    width: 45%;
    padding: 15px;
  }
  .scrollable-chat {
    height: 250px;
  }
}
