form {
  display: flex;
  flex-direction: column;
  background: rgb(247, 247, 247);
  width: 90%;
  margin: 30px auto;
  font-family: roboto-regular;
  color: rgb(0, 4, 56);
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, .09);
}
label {
  font-size: 20px;
  margin-bottom: 8px;
}
input[type="submit"] {
  padding: 10px;
  /* background: rgb(0, 4, 56); */
  color: rgb(247, 247, 247);
  font-family: roboto-regular;
  font-size: 20px;
  border: 0;
  border-radius: 3px;
  background: rgba(0, 4, 56, .9);
  /* margin-top: 24px; */

}
input:not([type="submit"]), select {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, .2);
}
select {
  color: rgb(0, 4, 56);
  background: rgb(247, 247, 247);
  outline: 0;
}
select:focus {
  border: 1px solid rgb(0, 4, 56);
}
input:not([type="submit"]):focus {
  outline: 1px solid rgb(0, 4, 56);
  border: 1px solid transparent;
}
form > span {
  /* border: 1px solid rgba(0, 0, 0, .09); */
  padding: 10px;
  /* margin-top: 5px; */
  text-align: center;
}
form > span > a[href="/login"] {
  text-decoration: underline;
}
/* from laptops and small screens up */
@media (min-width: 769px) {
  form {
    width: 35%;
    margin: 30px 15px;
  }
  input[type="submit"] {
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background: rgb(0, 4, 56);
  }
}
