{% extends 'uniform/base.html' %}

{% block meta %}
<meta name="keywords" content="added users">
{% endblock %}

{% block css_files %}
<link rel="stylesheet"
href="{{ url_for('static', filename='css/minified/added_users.css') }}">
{% endblock %}

{% block title %}added users{% endblock %}

{% block content %}
<!-- listers -->
<ul id="list_of_users">
  <!-- for added users -->
  {% for user in current_user.added_users %}
  <div class="list-item-wrapper" USER_ID="{{ user.id }}">
    <span class="action-buttons">
      <button type="button" name="unadd_user" class="unadd" title="unadd"
      USER_ID="{{ user.id }}">
        <i class="fas fa-minus-circle"></i>
      </button>
    </span>
    <li class="for_listing_only">
      <span class="username">{{ user.username }}</span>
      <span class="meta-data">
        <span class="gender {{ user.gender }}">
        [<i class="fas fa-{{ user.gender }}" name="gender"></i>]</span>
        <span class="compatibility">[{{ calculate_compatibility(user.id) }}%]
        </span>
        <span class="age">[{{ user.age }}]</span>
      </span>
    </li>
  </div>
  {% endfor %}

</ul>
{% endblock %}

{% block footer %}
Logged in as {{ current_user.username }}
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',
filename='js/minified/added_users.js') }}"></script>
{% endblock %}
