{% extends 'uniform/base.html' %}

{% block css_files %}
<link rel="stylesheet"
href="{{ url_for('static', filename='css/minified/assumptions.css') }}">
{% endblock %}

{% block title %}Assumptions{% endblock %}

{% block content %}
<ul id="list_of_assumptions">
  {% for assumption in assumptions %}
  {% if assumption not in current_user.assumptions %}
  <div class="list-item-wrapper" ASSUMPTION_ID="{{ assumption.id }}">
    <span class="action-buttons">
      <!-- <button type="button" name="unadd_assumption" class="unadd" title="unadd"
      ASSUMPTION_ID="{{ assumption.id }}">
        <i class="fas fa-minus-circle"></i>
      </button> -->
      <button type="button" name="add_assumption" class="add" title="add"
      ASSUMPTION_ID="{{ assumption.id }}">
        <i class="fas fa-plus-circle"></i>
      </button>
    </span>
    <li class="{{ assumption.content_type }}">
      <!-- card content here -->
      {{ assumption.content }}
    </li>
  </div>
  {% endif %}
  {% endfor %}
</ul>
<!-- load more button -->
<button type="button" name="load more" id="load_more">Load more</button>
{% endblock %}

{% block footer %}
Logged in as {{ current_user.username }}
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',
filename='js/minified/assumptions.js') }}"></script>
{% endblock %}
