{% extends 'uniform/base.html' %}

{% block css_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- filter by area -->
<div class="filter-by">
  <span class="buttons">
    <button type="button" name="added-only">
      <span>Added only</span>
      <i class="fas fa-check-circle" id="added-only"></i>
    </button>
    <button type="button" name="my-age">
      <span>My age</span>
      <i class="fas fa-check-circle" id="my-age"></i>
    </button>
    <button type="button" name="older-than-me">
      <span>Older than me</span>
      <i class="fas fa-check-circle" id="older-than-me"></i>
    </button>
    <button type="button" name="female" id="female-button">
      <i class="fas fa-female"></i>
      <i class="fas fa-check-circle" id="female"></i>
    </button>
    <button type="button" name="male" id="male-button">
      <i class="fas fa-male"></i>
      <i class="fas fa-check-circle" id="male"></i>
    </button>
  </span>
</div>
<!-- lister -->
<ul>
  {% for user in users %}
  {% if user != current_user %}
  <div class="list-item-wrapper
  {% if user.age == current_user.age %}my-age{% endif %}
  {% if user.age > current_user.age %}older-than-me{% endif %}
  {% if user in current_user.added_users %}added{% endif %}">
    <span class="action-buttons">
      {% if user in current_user.added_users %}
      <button type="button" name="button" class="unadd" title="unadd"
      USER_ID="{{ user.id }}">
        <i class="fas fa-minus-circle"></i>
      </button>
      {% else %}
      <button type="button" name="button" class="add" title="add"
      USER_ID="{{ user.id }}">
        <i class="fas fa-plus-circle"></i>
      </button>
      {% endif %}
    </span>
    <li>
      <span class="username">{{ user.username }}</span>
      <span class="meta-data">
        <span class="gender {{ user.gender }}">
        [<i class="fas fa-{{ user.gender }}" name="gender"></i>]</span>
        <span class="compatibility">[%]</span>
        <span class="age">[{{ user.age }}]</span>
      </span>
    </li>
  </div>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
