{% extends 'uniform/base.html' %}

{% block css_files %}
<!-- main file -->
<link rel="stylesheet" href="{{ url_for('static',
filename='css/minified/home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- lister -->
<ul id="list_of_users">
  {% for user in users %}
  {% if user not in current_user.added_users and user.id != current_user.id %}
  <div class="list-item-wrapper" USER_ID="{{ user.id }}">
    <span class="action-buttons">
      <!-- <button type="button" name="unadd_user" class="unadd" title="unadd"
      USER_ID="{{ user.id }}">
        <i class="fas fa-minus-circle"></i>
      </button> -->
      <button type="button" name="add_user" class="add" title="add"
      USER_ID="{{ user.id }}">
        <i class="fas fa-plus-circle"></i>
      </button>
      <a href="{{ url_for('chat_page', recipient_id=user.id) }}/"
      title='chat'>
        <button type="button" name="button" class="start-conversation">
          <i class="fas fa-comments"></i>
        </button>
      </a>
    </span>
    <li>
      <span class="username">{{ user.username }}</span>
      <span class="meta-data">
        <span class="gender {{ user.gender }}">
        [<i class="fas fa-{{ user.gender }}" name="gender"></i>]</span>
        <span class="compatibility">[{{ calculate_compatibility(user.id) }}%]
        </span>
        <span class="age">[{{ user.age }}]</span>
      </span>
    </li>
  </div>
  {% endif %}
  {% endfor %}
</ul>
<!-- load more button -->
<button type="button" name="load more" id="load_more">Load more</button>
{% endblock %}

{% block footer %}
Logged in as {{ current_user.username }}
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/minified/home.js') }}"></script>
{% endblock %}
