{% extends 'uniform/base.html' %}

{% block css_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">
{% endblock %}

{% block title %}Learn{% endblock %}

{% block content %}
{% for question in questions %}
<div class="card hide" id="{{ question.id }}">
  <span class="question">{{ question.content }}</span>
  <button type="button" name="{{ question.btn_status }}" class="learn-btn">correct</button>
  <span class="next" title="next">
    <i class="fas fa-arrow-alt-circle-right"></i>
  </span>
  <span class="previous" title="previous">
    <i class="fas fa-arrow-alt-circle-left"></i>
  </span>
</div>
{% endfor %}

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/learn.js') }}"></script>
{% endblock %}
