{% extends 'uniform/base.html' %}

{% block meta %}
<meta name="keywords" content="register page, signup page">
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href=
"{{ url_for('static', filename='css/minified/register.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<!-- flask registration form -->
<form method="post">
  <!-- against csrf attacks -->
  {{ form.hidden_tag() }}

  {{ form.username.label() }}
  {{ form.username(placeholder='3 to 20 characters') }}
  {{ form.email.label() }}
  {{ form.email(placeholder='smt@smt.smt') }}
  {{ form.age.label() }}
  {{ form.age(placeholder='must be atleast 18') }}
  {{ form.gender.label() }}
  {{ form.gender() }}
  {{ form.password1.label() }}
  must(be atleast 8 characters long, include atleast 2 numbers, include atleast 2
  capital letters)
  {{ form.password1
  (placeholder='example: 2Livei3nPeace') }}
  {{ form.password2.label() }}
  {{ form.password2(placeholder='must be equal to the first one') }}
  {{ form.facebook.label() }}
  {{ form.facebook(placeholder='facebook username') }}
  {{ form.instagram.label() }}
  {{ form.instagram(placeholder='instagram username') }}
  {{ form.twitter.label() }}
  {{ form.twitter(placeholder='twitter username') }}
  {{ form.reddit.label() }}
  {{ form.reddit(placeholder='reddit username') }}
  {{ form.discord.label() }}
  {{ form.discord(placeholder='discord username') }}

  <span>
    already have an account?
    <a href="{{ url_for('login_page') }}">Login</a>
  </span>

  {{ form.submit() }}
</form>
{% endblock %}

{% block javascript %}

{% endblock %}
