{% extends 'uniform/base.html' %}

{% block css_files %}
<link rel="stylesheet" href=
"{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<!-- error messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p>{{ message[0] }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<!-- flask registration form -->
<form method="post">
  <!-- against csrf attacks -->
  {{ form.hidden_tag() }}

  {{ form.username.label() }}
  {{ form.username() }}
  {{ form.email.label() }}
  {{ form.email() }}
  {{ form.password1.label() }}
  {{ form.password1() }}
  {{ form.password2.label() }}
  {{ form.password2() }}

  {{ form.submit() }}
</form>
{% endblock %}

{% block javascript %}

{% endblock %}
