{% extends 'uniform/base.html' %}

{% block css_files %}
<link rel="stylesheet"
href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
<span class="tabs">
  <div class="tab">
    <span>account keys</span>
    <i class="fas fa-caret-square-down"></i>
  </div>
  <div class="tab expand_unexpand" id="pmt-questions">
    <span>PMT questions</span>
    <i class="fas fa-caret-square-down"></i>
  </div>
</span>
<!-- cards -->
<div id="cards-wrapper" class="hide">
  {% for assumption in assumptions %}
  <div class="card hide" id="learn-card-{{ assumption.id }}">
    <span class="question">{{ assumption.content }}</span>
    <button type="button" class="learn-btn">{{ assumption.btn_status }}</button>
    <span class="next" title="next">
      <i class="fas fa-arrow-alt-circle-right"></i>
    </span>
    <span class="previous" title="previous">
      <i class="fas fa-arrow-alt-circle-left"></i>
    </span>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
